*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    font-family: Arial, Helvetica, sans-serif;
}


i {
    color: #fff;
}

hr{
    border: 0;
    height: 1px;
    background-color: #A93F0D;
}

b {
    color: #A93F0D;
}
